body{
    background-color: #FAF4F2;

}
.top-img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;

}
.header{
    position: absolute;
    top:60px;
    max-width: 1320px;
    margin: 0 auto;
    z-index: 20;
}
.nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.main-ul{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    list-style: none;
}
.nav-li{
    margin-left: 42px;
}
.nav-a{
    text-decoration: none;
    color: #D2D2D2;
    font-family: 'Roboto';
    font-size: 18px;
    text-transform: capitalize;
    transition-property: all;
    transition-delay: 0.1s;
    transition-duration: 0.2s;
}
.nav-a:hover{
    color: white;
}
.sing-nav{
    margin-right: 20px;
}
.sing-ul{
    display: flex;
    list-style: none;
}
.sing-li{
    margin-left: 100px;
    margin-right: 45px;
}
.sing-a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'Roboto';
    text-transform: capitalize;
    transition-property: all;
    transition-delay: 0.1s;
    transition-duration: 0.2s;

}
.border-a{
    padding:15px 30px;
    transition-property: all;
    transition-delay: 0.1s;
    transition-duration: 0.2s;
}
.border{
    border: 1px solid white;
    border-radius: 20px;
}
.sing-a:hover{
    color: #D2D2D2;
}

.border-a:hover{
    background-color:  #D2D2D2 ;
    color: black;
}
.active{
    position: relative;
}
.active::before{
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 3px solid ;
  border-color: #E76F51;
  z-index: -2;

  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  -ms-transform:rotate(5deg);
  -o-transform:rotate(5deg);
  transform:rotate(40deg);
}

.discover-box{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.discover-h1{
    color: white;
    text-transform: capitalize;
    font-size: 81px;
    font-family: 'Archivo';
}
.discover-p{
    color: white;
    font-size: 18px;
    font-family: 'Roboto';
    margin-bottom: 35px;
}

.discover-a{
    text-decoration: none;
    color: white;
    background-color: #E76F51;
    padding:15px 70px;
    text-transform: capitalize;
    font-size: 18px;
    font-family: 'Roboto';
    border-radius: 25px;
}
.discover-a:hover{
    color: #D2D2D2;
}


.cards{
    position: absolute;
    bottom: -200px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    width: 300px;
}
.card-img{
    padding-top: 65px;
}
.card-title{
    font-size: 18px;
    font-family: 'Archivo';
    text-transform: capitalize;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 400px;
    text-align: center;
    color: #3B3735;
}
.card-p{
    font-size: 16px;
    font-family: 'Roboto';
    color: #3B3735;
}   
.card-margin{
    margin-left: 30px;
}

.activities-title{
    margin-top: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-h2{
    font-size: 40px;
    font-family: 'Archivo';
    width: 500px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 75px;
    color: #3B3735;
}
.activities-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: white;
    border-radius: 20px;
    width: 300px;
    text-align: center;
    
}
.activities-img{
    position: relative;
}
.overly{
    position: absolute;
    top: 0;
    left: 0;
}
.activities-p{
    width: 400px;
    font-size: 16px;
    font-family: 'Roboto';
    color: #3B3735;
}
.activities-a{
    background-color: rgba(141, 141, 141, 0.1);
    padding: 15px 50px;
    color: #707070;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 30px;
}

.activities-a:hover{
    color: #D2D2D2;
}

.heart{
    position: absolute;
    top:20px;
    right:20px;
}
.price{
    position: absolute;
    bottom:-40px ;
    left: 50%;
    transform: translate(-50%);

}
.price-h3{
    color: #E76F51;
    font-size: 16px;
    font-family: 'Roboto';
    background-color: white;
    padding: 20px 40px;
    border-radius: 20px;
}

.activities-margin-top{
    margin-top: 30px;
}

.view-all{
    display: flex;
    justify-content: center;
    margin-top: 75px;
}
.view-all-a{
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 18px;
    color: #E76F51;
    border: 1px solid #E76F51;
    border-radius: 20px;
    padding: 15px 70px;
    text-transform: capitalize;
    transition-property: all;
    transition-delay: 0.1s;
    transition-duration: 0.2s;

}
.view-all-a:hover{
    background-color: #E76F51 ;
    color: white;
}

.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8E1DB;
    padding: 100px;
    border-radius: 20px;
    margin-top: 125px;
}

.email-h2{
    font: 40px;
    font-family: 'Archivo';
    color: #3B3735;
    margin-bottom: 30px;
}
.email-p{
    font-family: 'Roboto';
    font-size: 16px;
    color: #3B3735;
    width: 500px;
}
input[type="email"]{
    background-image: url(/img/Group\ 235.png);
    background-position: 25px center;
    background-repeat: no-repeat;
    outline: none;
    border: none;
    padding-left: 60px;

}
form.email-form{
    position: relative;
    width: 600px;
    height: 80px;
    background-color: white;
    display:inline-flex;
    align-items: center;
    border-radius: 20px;
    margin-top: 40px;
    
}

input[type="email"]::-webkit-input-placeholder {
    color:#8D8D8D;
    font-family: 'Roboto';
    font-size: 16px;
    margin-left: 12px;
  }

.send-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    background-color: tomato;
    border-radius: 20px;
    box-shadow: 5px 10px 30px #E76F51;
}

.email-image{
    width: 350px;
}

.email-camp{
    width: 100%;
}

@media (max-width:1140px){
    .discover-box{
        width: 322px;
        height: 122px;
        top: 40%;
    }
    .discover-h1{
        font-size: 40px;
    }
}

@media (max-width:960px){
    .container-xxl{
        width: 100%;
    }
    .header{
        width: 100%;
    }
    .sing-nav{
        display: none;
    }
    .nav{
        margin-right: 30px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .main-ul{

        flex-direction: column;
    }
    .response{
        margin-left: 42px;
    }
    .discover-box{
        top:20%;
        width: 250px;
        height: 70px;
    }
    .discover-h1{
        font-size: 25px;
    }
    .discover-p{
        margin-bottom: 3px;
    }
    .discover-a{
        padding: 5px 20px;
    }

}

@media (max-width:580px){
    .container-xxl{
        width: 100%;
    }
    .header{
        width: 100%;
        top:5px;
    }
    .sing-nav{
        display: none;
    }
    .nav{
        margin-right: 30px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .main-ul{

        flex-direction: column;
    }
    .response{
        margin-left: 42px;
    }
    .discover-box{
        top:7%;
        width: 250px;
        height: 70px;
    }
    .discover-h1{
        font-size: 25px;
    }
    .discover-p{
        margin-bottom: 3px;
    }
    .discover-a{
        padding: 5px 20px;
    }

}

@media (max-width:375px){

    .container-xxl{
        width: 100%;
    }
    .header{
        width: 100%;
        top:5px;
    }
    .sing-nav{
        display: none;
    }
    .nav{
        margin-right: 30px;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }
    .main-ul{

        flex-direction: column;
    }
    .response{
        margin-left: 42px;
    }
    .discover-box{
        top:10%;
        width: 150px;
        height: 70px;
    }
    .discover-h1{
        font-size: 15px;
    }
    .discover-p{
        display: none;
    }
    .discover-a{
        padding: 5px 20px;
    }
 
}

@media (max-height:670px){
    .discover-box{
        width: 322px;
        height: 122px;
    }
    .discover-h1{
        font-size: 40px;
    }
}
@media (max-height:400px){
    .discover-box{
        width: 250px;
        height: 70px;
    }
    .discover-h1{
        font-size: 25px;
    }
    .discover-p{
        margin-bottom: 3px;
    }
    .discover-a{
        padding: 5px 20px;
    }
}
@media (max-height: 330px){
    .discover-box{
        display: none;
    }
}